@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Zaboravili ste pasvord?";
}

<center><h1>@ViewData["Title"]</h1></center>
<center><h4>Unesite Vas E-mail</h4></center>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group b">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary a">Potvrdi</button>
        </form>
    </div>
</div>

<div class="figure-img k">
    <img src="https://user-images.githubusercontent.com/73108515/112739416-8bd67c80-8f74-11eb-8c51-1f5b1b16baed.png" width="80%" height="80%" alt="">
</div>





@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<style>

    .a {
        position: fixed;
        width: 300px;
        height: 50px;
        top: 400px;
        left: 800px;
        background-color: lightblue;
    }

    .b {
        position: fixed;
        top: 300px;
        left: 800px;
        text-align: center;
        height: 50px;
        width: 300px;
    }

    .k {
        position: fixed;
        left: 780px;
        top: 500px;
        text-align: center;
    }
</style>