@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Potvrda pasvorda";
}

<center><h1>@ViewData["Title"]</h1></center>
<center>
    <p>
        Provjerite Vaš E-mail
    </p>
</center>

<div class="figure-img k">
    <img src="https://user-images.githubusercontent.com/73108515/112739416-8bd67c80-8f74-11eb-8c51-1f5b1b16baed.png" width="100%" height="100%" alt="">
</div>



<style>
    .k {
        position: fixed;
        left: 780px;
        top:200px;
        text-align: center;
    }

</style>