<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kurs</title>
    <link rel="stylesheet" href="kurs.css">
</head>

<body>

<p1>Lekcija1</p1>

<p2>Lekcija2</p2>

<p3>Lekcija3</p3>

<p4>Lekcija4</p4>

<p5>Lekcija5</p5>

<p6>Lekcija6</p6>

<video id="prvi" width="320" height="240" controls>
  <source src="kurs.mp4" type="video/mp4">
</video> 

<video id="drugi" width="320" height="240" controls>
  <source src="kurs.mp4" type="video/mp4">
</video> 

<video id="treci" width="320" height="240" controls>
  <source src="kurs.mp4" type="video/mp4">
</video> 

<video id="cetvrti" width="320" height="240" controls>
  <source src="kurs.mp4" type="video/mp4">
</video> 

<video id="peti" width="320" height="240" controls>
  <source src="kurs.mp4" type="video/mp4">
</video> 

<video id="sesti" width="320" height="240" controls>
  <source src="kurs.mp4" type="video/mp4">
</video> 

</body>