<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prodaj</title>
    <link rel="stylesheet" href="prodaj.css">
</head>

<body>

<input id="kupi" type="submit" value="Kupi">
<input id="limit" type="submit" value="Limit Buy Order">
<input id="prodaj" type="submit" value="Prodaj">
<input id="stop" type="submit" value="Stop-limit">
<input id="profit" type="submit" value="Povuci profit">
<input id="kupovina" type="submit" value="Prodaj BTC">

<img class="kupii" src="kupi.png">
<img class="eurv" src="eurv.png">
<img class="btcv" src="btcv.png">
<img class="donjaslika" src="prodaja.png">

<input id="prvi" type="text" value="0.00">
<input id="drugi" type="text" value="0.00">

</body>