<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
	<meta charset="utf-8">
    <title>Registracija</title>
    <link rel="stylesheet" href="registracija.css" />
  </head>
  <body>
	<div class="wrapper">
		<div class="title">
            Registracija
         </div>
		 
		 <form action="#">
      
      
			<div class="field">
				<input type="text" required>
				<label>Ime</label>
			</div>
			<div class="field">
				<input type="text" required>
				<label>Prezime</label>
			</div>
			<div class="field">
				<input type="text" required>
				<label>E-mail adresa</label>
			</div>
			<div class="field">
				<input type="password" required>
				<label>Lozinka - Minimalno 8 karaktera</label>
			</div>
			<div class="field">
				<input type="text" required>
				<label>Potvrdite lozinku</label>
			</div>
			
			<p>
			Kreiranjem racuna potvrdujete da ste punoljetni i da se slazete sa uslovima koristenja
			</p>
		
			<div class="field">
				<input type="submit" value="Kreiraj novi korisnicki racun">
			</div>
      
		</form>	
	</div>
	</body>
</html>