<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verifikacija</title>
    <link rel="stylesheet" href="verifikacija.css">
</head>
<body>
    <div class="loginbox">
        <img class="logo" src="logo.png">
        <h1>Verifikacija e-mail adrese</h1>
		<p><center>Poslali smo verifikacijski kod na vasu e-mail adresu. Molimo unesite kod.</center></p>
        <form>
            <input type="password" placeholder="Unesite kod">
            <input type="text" placeholder="Ponovo posaljite e-mail">
            <input type="submit" value="OK">
        </form>
    </div>
</body>
</html>
