@{
    ViewData["Title"] = "Pocetna";
}

<style>

    .square {
        border-radius: 4px;
        height: 200px;
        width: 200px;
        text-align: center;
        position: fixed;
    }

    .a {
        background-color: white;
        margin-bottom: 25px;
        border: 3px solid black;
        left: 29%;
        top: 30%;
    }

    .b {
        background-color: white;
        margin-bottom: 25px;
        border: 3px solid black;
        top: 30%;
        left: 44%
    }

    .c {
        background-color: white;
        margin-bottom: 25px;
        border: 3px solid black;
        top: 30%;
        right: 30%
    }

    .d {
        background-color: white;
        margin-bottom: 25px;
        border: 3px solid black;
        top: 59%;
        left: 29%
    }

    .e {
        background-color: white;
        margin-bottom: 25px;
        border: 3px solid black;
        top: 59%;
        left: 44%
    }

    .f {
        background-color: white;
        margin-bottom: 25px;
        border: 3px solid black;
        top: 59%;
        right: 30%;
    }

    .txt {
        text-align: match-parent;
    }

    .navbar-brand {
        color: blue;
        font-weight: bold;
        top: 5%;
        left: 28%;
        position: fixed;
    }

    .figure-img {
        left: 5%;
        top: 10%;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Dobrodošli</h1>
    
</div>

<div class="square a">
    <div class="txt">Kupoprodaja</div>
    <img src="https://www.pngarea.com/pngs/39/5886824_ecommerce-png-transparent-background-handshake-icon-blue-transparent.png" width="150" height="150" alt="">
</div>

<div class="square b">
    <div class="txt">Profil</div>
    <img src="https://icons.iconarchive.com/icons/papirus-team/papirus-status/512/avatar-default-icon.png" width="150" height="150" alt="">
</div>

<div class="square c">
    <div class="txt">Digitalni novčanik</div>
    <img src="https://pngimage.net/wp-content/uploads/2018/06/logo-wallet-png-4.png" width="150" height="150" alt="">
</div>

<div class="square d">
    <div class="txt">Novosti</div>
    <img src="https://hsvha.org/wp-content/uploads/2020/06/news_logo_round2-300x300-1.png" width="150" height="150" alt="">
</div>

<div class="square e">
    <div class="txt">Premium</div>
    <img src="https://img.pngio.com/diamond-icon-graphic-design-template-vector-logo-symbol-graphic-diamond-logo-png-640_640.png" width="150" height="150" alt="">
</div>

<div class="square f">
    <div class="txt">Postavke</div>
    <img src="https://www.pngitem.com/pimgs/m/1-12226_transparent-android-settings-icon-png-settings-icon-blue.png" width="150" height="150" alt="">
</div>


