<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digitalni novcanik</title>
    <link rel="stylesheet" href="digitalniNovcanik.css">
</head>

<body>
<h1>CryptoInvest</h1>

<img class="nlogo" src="nlogo.png">
<img class="kockice" src="kockice.png">
<img class="goredesno" src="goredesno.png">
<img class="ukupnibilans" src="ukupnibilans.png">

<input id="kupoprodaja" type="submit" value="Kupoprodaja">
<input id="novosti" type="submit" value="Novosti">
<input id="novcanik" type="submit" value="Novcanik">
<input id="portfolio" type="submit" value="Portfolio">
<input id="plus" type="submit" value="+">


<table>

<tr>

 <td><img width="200px" height="100px" class="btc" src="btc.png"></td>

 <td><p1>2.482=€14629.17</p1></td>
 
 <td><img width="200px" height="100px" class="usdt" src="usdt.png"></td>

 <td><p1>1583.2=€1583.2</p1></td>

 </tr>
 
 <tr>

 <td><img width="200px" height="100px" class="eth" src="eth.png"></td>

 <td><p1>1.563=€3286.67</p1></td>
 
 <td><img width="200px" height="100px" class="xtz" src="xtz.png"></td>

 <td><p1>2637.5=€15561.25</p1></td>

 </tr>
 
 <tr>

 <td><img width="200px" height="100px" class="ltc" src="ltc.png"></td>

 <td><p1>26.538=€5841.89</p1></td>
 
 <td><img width="200px" height="100px" class="doge" src="doge.png"></td>

 <td><p1>536.25=€31.09</p1></td>

 </tr>
 
 <tr>

 <td><img width="200px" height="100px" class="ada" src="ada.png"></td>

 <td><p1>1268.5=€1857.21</p1></td>
 
 <td><img width="200px" height="100px" class="zec" src="zec.png"></td>

 <td><p1>38.596=€7399.62</p1></td>

 </tr>
 
 <tr>

 <td><img width="200px" height="100px" class="bnb" src="bnb.png"></td>

 <td><p1>249.6=€92956.02</p1></td>
 
 <td><img width="200px" height="100px" class="xml" src="xml.png"></td>

 <td><p1>466.26=€237.04</p1></td>

 </tr>

</table>



</body>