<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kursevi</title>
    <link rel="stylesheet" href="kursevi.css">
</head>

<body>

<center>
<h1>Kursevi</h1>
</center>

<img class="prva" src="kurs.png">
<img class="druga" src="kurs.png">
<img class="treca" src="kurs.png">
<img class="cetvrta" src="kurs.png">

<p1>Naziv: Kurs1<br>Broj lekcija: 4<br>Ukupno vrijeme: 120 min</p1>

<p2>Naziv: Kurs2<br>Broj lekcija: 6<br>Ukupno vrijeme: 180 min</p2>

<p3>Naziv: Kurs3<br>Broj lekcija: 5<br>Ukupno vrijeme: 150 min</p3>

<p4>Naziv: Kurs4<br>Broj lekcija: 9<br>Ukupno vrijeme: 270 min</p4>
<p5>7/10</p5>
<p6>8.5/10</p6>
<p7>10/10</p7>
<p8>9/10</p8>

<input type="submit" id="kurs1" value="Kurs1">

<input type="submit" id="kurs2" value="Kurs2">

<input type="submit" id="kurs3" value="Kurs3">

<input type="submit" id="kurs4" value="Kurs4">

</body>