<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prelazak na premium</title>
    <link rel="stylesheet" href="premium.css">
</head>
<body>

<h1>Prelazak na premium</h1>
<img class="kruna" src="kruna.png">
<center>
<p1>Zasto prijeci na premium ?<br>
Mogucnost podizanja kredita<br>
Pristup kursevima</p1>
</center>

 <label class="container">€0.99/sedmica
  <input type="checkbox">
  <span class="checkmark"></span>
</label>

<label class="container">€2.99/mjesec
  <input type="checkbox">
  <span class="checkmark"></span>
</label>

<label class="container">€24.99/godina
  <input type="checkbox">
  <span class="checkmark"></span>
</label>

<center>

<input type="submit" value="Prelazak">
</center>

</body>