body{
    background: #f2f2f2; 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.loginbox{
    width: 300px;
    height: 380px;
    background: #1c2833;
    color: white;
    margin: 70px auto;
    border-radius: 10px;
}
.logo{

    width: 100px;
    height:100px;
    position: relative;
    top: -70px;
    left: calc(50% - 50px);

}
h1{
    text-align: center;
    margin-top: -60px;
}
p{
	text-align: center;
}

label{

    font-size: 18px;
    display: block;
    margin-left: 20px;
}

input{

    width: 80%;
    margin: 0 0 20px 20px;
}

input[type="text"],input[type="password"]{
    border: none;
    background: transparent;
    border-bottom: 1px solid #fff;
    height: 40px;
    outline: none;
    color: white;
    font-size: 16px;
}

input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    border-radius: 20px;
    background: #fb2525;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: white;
    margin-left: 30%;
}

input[type="submit"]:hover{
    background: blueviolet;
}